{% extends 'base.html' %}
{% block body %}

<form action = '/update' method ="POST">
<table class="table table-striped">
    <tr><th>Melon Name</th><th>Quantity</th><th>Price</th><th>Total</th></tr>
{% if cart %}
    {% set melons = cart.keys() %}
    {% set var = melons.sort() %}
    {% for melon in melons %}
    <tr><td>{{melon.common_name}}</td><td>{%set quantity = cart[melon]%}
        <input type='text' name={{melon.id}} id={{melon.id}} placeholder= {{ quantity }}/>
        <input type='button' name='add' onclick='javascript: document.getElementById({{melon.id}}).value++;' value='+'/>
        <input type='button' name='subtract' onclick='javascript: document.getElementById({{melon.id}}).value--;' value='-'/></td><td>{{melon.price_str()}}</td><td>{{"$%.2f"%(cart[melon]*melon.price)}}</td></tr>
    {% endfor %}
</table>
<h3>Total: {{ total }}</h3>
<input type="submit" class="btn btn-large btn-primary" value="Update Cart"</a>
</form>
<a href="/checkout" class="btn btn-large btn-primary">Check Out</a>
{% endif %}


{% endblock %}
